.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    flex: 1;
    min-width: 500px;
}

form label {
    margin-right: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

label {
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

input {
    outline: none;
    border-radius: 2px;
    flex: 2.5;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
      rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
      rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
      rgb(60 66 87 / 16%) 0px 0px 0px 1px, 
      rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
      rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
      rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  }
  
  input:focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
    rgb(58 151 212 / 36%) 0px 0px 0px 4px, 
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
    rgb(60 66 87 / 16%) 0px 0px 0px 1px, 
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, 
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  }

.button {
    width: 100%;
    background-color: #7ccdee;
    margin: 0.5rem 0;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: #8898aa;
    transition: 150ms cubic-bezier(0.215,0.61,0.355,1);
  }

@media screen and (max-width: 530px) {
    .form {
        min-width: 300px;
    }
}